/*brand*/
.brand {
    width: 100%;
    margin: 2px 0 0;
    border-bottom: 1px solid #999;
}

    .brand a {
        color: #009a61;
        font-size: 32px;
        margin-right: 10px;
    }

    .brand i {
        color: #f60;
        font-style: initial;
    }

    .brand img {
        float: left;
        height: 35px;
        margin: 2px 8px 0px;
    }

    .brand span a {
        float: right;
        font-size: 24px;
        margin: 7px 15px 0;
        display: inline-block;
    }


/*docs*/
.docs {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 300px;
    border-top: 1px solid #999;
}

    .docs li {
        float: left;
        margin: 15px;
    }

        .docs li a {
            white-space: nowrap;
        }

.dbox {
    width: 100%;
}

.dbox-title {
    padding: 15px;
}

/*view*/
.vbox {
    width: 100%;
    display: none;
}

    .vbox iframe {
        border: 0;
        float: left;
        margin-left: 0;
    }

    .vbox #f1 {
        width: 24%;
    }

    .vbox #f2 {
        width: 75%;
        float: right;
    }

/*footer*/
.footer {
    width: 100%;
    display: block;
    margin-top: 70px;
    padding: 30px 0 0;
    text-align: center;
    border-top: 1px solid #ddd;
}

    .footer p {
        font-size: 1.3em;
        margin-top: .5em;
    }

    .footer .logo {
        user-select: none;
        animation: myrotate 60s infinite;
    }

@keyframes myrotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
