/*base*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-size: 15px;
    background-color: #fff;
    background-attachment: fixed;
    overflow: hidden;
}

a {
    color: #06f;
    text-decoration: none;
}

    a:hover {
        color: #f60;
        text-decoration: none;
    }

img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
}

i, em {
    font-style: normal;
}

li {
    list-style-type: none;
}

.p15 {
    padding: 15px;
}

/*brand*/
.brand {
    float: left;
    width: 100%;
    margin: 2px 0 0;
    border-bottom: 1px solid #333;
}

    .brand a {
        color: #009a61;
        font-size: 36px;
        margin-right: 10px;
    }

    .brand i {
        color: #f60;
    }

    .brand img {
        float: left;
        height: 35px;
        margin: 2px 8px 0px;
    }

    .brand span a {
        float: right;
        font-size: 24px;
        margin: 7px 15px 0;
        display: inline-block;
    }


/*docs*/
.docs {
    border-top: 1px solid #333;
}

    .docs li {
        float: left;
        margin: 15px;
    }

.dbox {
    float: left;
    width: 100%;
}

/*view*/
.vbox {
    float: left;
    width: 100%;
    display: none;
}

    .vbox iframe {
        border: 0;
        float: left;
        margin-left: 0;
    }

    .vbox #f1 {
        width: 24%;
    }

    .vbox #f2 {
        width: 75%;
        float: right;
    }

/*footer*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
